html,
body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
  min-width: 1000px;
}

.header {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.content {
  display: flex;
}
.gridholder {
  display: flex;
  flex-direction: column;
}
.grid {
  background-color: grey;
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  background-color: black;
  height: 48px;
  width: 48px;
  border: 1px solid white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content > * {
  padding: 10px;
}

.used {
  pointer-events: none;
}

.black {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_box {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.01);
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.form_box > * {
  margin: 5px;
}
.form_header {
  color: white;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.formbox {
  height: 34px;
  width: 34px;
  border: 1px solid black;
  background-color: blue;
  
}

.box_holder {
  display: flex;
  flex-wrap: wrap;
}

.ships {
  display: flex;
  flex-direction: row;
}
.ships > * {
    margin: 2px;
    height: fit-content;
}
.ship-boxes {
  height: 34px;
  width: 34px;
  border: 1px solid black;
}

.drop-zone--over {
    opacity: 0.5;
}

#submit {
  width: 150px;
  height: 50px;
  background-color: green;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
}

